<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
          http://www.springframework.org/schema/webflow-config http://www.springframework.org/schema/webflow-config/spring-webflow-config-2.0.xsd
          http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.3.xsd
          http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms-4.3.xsd
          http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-4.3.xsd
          http://www.springframework.org/schema/osgi http://www.springframework.org/schema/osgi/spring-osgi-1.2.xsd
          http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
          http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd
">
    <bean id="custombeanid1"  name="custombeanname1" class="com.rd.springtest1.Library">
      <property name="name" value="NEW Library 1">    </property>
      <property name="location" value="Patiala">    </property>
      <property name="bookcapacity" value="5000">    </property>
      <property name="booksavailable" value="3000">    </property>
    </bean>
    <bean id="custombeanid2"  name="custombeanname2" class="com.rd.springtest1.Library">
      <property name="name" value="NEW Library 2">    </property>
      <property name="location" value="Chandigarh">    </property>
      <property name="bookcapacity" value="5000">    </property>
      <property name="booksavailable" value="3000">    </property>
    </bean>

</beans>
